{% extends 'base2.html.twig' %}
{% block content %}
 <div class="templatemo-content-container">
          <div class="templatemo-content-widget no-padding">
            <div class="panel panel-default table-responsive">

              <table class="table table-striped table-bordered templatemo-user-table">
                <tbody>
                  <thead>
                  <tr>
                    <td><a  class="white-text templatemo-sort-by">Id Service Guide <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">Titre Guide <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">Descrp Guide <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">Nombre d'heure Guide <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">Prix Guide <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">Date Guide <span class="caret"></span></a></td>


                    <td>Edit</td>
                    <td>Ajouter</td>
                    <td>Supprimer</td>
                  </tr>
                </thead>
              {% for c in listService %}
                  <tr>

                    <td>{{c.id}}</td>
                    <td>{{ c.titre }}</td>
                    <td>{{ c.descrp }}</td>
                    <td>{{ c.NbHeure }}</td>
                    <td>{{ c.prix }}</td>
                    <td>{{ c.DateCreation|date("m/d/Y")  }}</td>


                    <td><a href="{{ path('ModifierServiceAdmin',{'id':c.id}) }}">Modifier</a></td>
                   <td><a href="{{ path('AjouterSGAdmin') }}">Ajouter</a></td>
                    <td><a href="{{ path("SupprimerServiceAdmin",{"id":c.id}) }}">supprimer</a></td>

                  </tr>
                     {% endfor %}
                </tbody> 
              </table>


            </div>
          </div>
       <p>Copyright &copy; 2022 Clutch.gg 
            |Ben Hadj Amor Rawaà
           
            </p>
        </div>
{% endblock content %}