{% extends 'base.html.twig' %}

{% block content %}

<div class="container">


    <div class="row vertical-gap">
        {% for c in listReservation2 %}

        <div class="col-lg-4">
        
                        <div class="nk-gap-2"></div>

            <div class="nk-product-cat-2">
                <div class="nk-feature-2">
                    <div class="row justify-content-start">
                        
                        <div class="col-4">
                            <a class="nk-product-image" >
                                <img src="{{asset('assets/images/avatar-3.jpg') }}" width="29"> </a>
                        </div>

                        <div class="col-6">
                            <h4 class="text-main-5"><a>{{ c.Guide.titre }} </a></h4>
                        <div> <h7  class="text-main-4" >Nom Coach  : </h7>{{c.idCoach.nom }}</div>
                        </div>
                        
                         <div class="col-2">
                             <div class="nk-info-box-close nk-info-box-close-btn" >
                                 <i href="{{ path('SupprimerReservation',{'id':c.id}) }}" class="ion-close-round"  ></i>
                             </div>
                             
                        </div>
                    
                    </div>

                    <div class="col-12">
                        <div class="nk-gap-1"></div>
                        <div><h7  class="text-main-4" >Date Reservation : </h7> {{c.dateRes|date("d/m/Y")}}</div>
                        <div class="nk-product-cont">


                            <div class="nk-gap-1"></div>
                          <h7  class="text-main-4" >Heure de Debut :</h7> {{ c.HeureDebut}}

                            <div class="nk-gap-1"></div>
                            <div class="col-md-1 offset-md-1"><a href="{{ path('SupprimerReservationF',{'id':c.id}) }}"  class="nk-btn nk-btn-rounded nk-btn-color-main-5 nk-btn-hover-color-white">Supprimer Reservation  </a> </div>
                            <div class="col-md-1 offset-md-1">
                           
                            <a href="{{ path('ReservationModif',{'id':c.id}) }}"  class="nk-btn nk-btn-rounded nk-btn-color-main-5 nk-btn-hover-color-white">Modifier Reservation  </a>
                            <a href="{{ path('ImprimerRF',{'id':c.id}) }}"  class="nk-btn nk-btn-rounded nk-btn-color-main-5 nk-btn-hover-color-white">Imprimer Reservation  </a>

                            </div>

                        </div>
                    </div>
                </div>
                        <div class="nk-gap-2"></div>

            </div>

           
        </div>
        <div class="nk-gap-2"></div>
         {% endfor %}
         
    </div>

</div>
    {% endblock %}
