{% extends 'base2.html.twig' %}
{% block content %}

        <div class="templatemo-content-container">
          <div class="templatemo-content-widget no-padding">
            <h2 class="margin-bottom-10">Les fournisseurs : </h2>
            <div class="panel panel-default table-responsive">
              <table class="table table-striped table-bordered templatemo-user-table">
                <thead>
                  <tr>
                    <td><a href="" class="white-text templatemo-sort-by">#ID <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">Nom fournisseur <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">Email <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">Numero telephone <span class="caret"></span></a></td>
                    <td>Edit</td>
                    <td>Delete</td>
                  </tr>
                </thead>
                 {%for f in fournisseur%}
                  <tr>
                    <td>{{f.id}}</td>
                    <td>{{f.nom}}</td>
                    <td>{{f.numTel}}</td>
                    <td>{{f.email}}</td>
                    
                    <td><a href="/modifierf/{{f.id}}" class="templatemo-edit-btn">Edit</a></td>
                    <td><a href="/fournisseur/supprimerf/{{ f.id }}" class="btn btn-danger" 
                        onclick="return confirm('Etes vous sûr de supprimer ce fournisseur?');">Delete</a> </td>
                  </tr>
                {% endfor %}            
              </table>    
            </div>                          
          </div>          
     
              
          <footer class="text-right">
            <p>Copyright &copy; 2084 Company Name 
            | Design: Template Mo</p>
          </footer>         
        </div>
    {% endblock content %}
    
   