{% extends 'base.html.twig' %}
{% block content %}
 <div class="templatemo-content-container">
          <div class="templatemo-content-widget no-padding">
            <div class="panel panel-default table-responsive">
            
              <table class="table table-striped table-bordered templatemo-user-table">
                <tbody>
                  <thead>
                <tr>
                    <td><a  class="white-text templatemo-sort-by">id<span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">quantité<span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">id commande <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">user <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">prix <span class="caret"></span></a></td>


                    <td>Modifier</td>
                    <td>Ajouter</td>
                    <td>Supprimer</td>
                  </tr>
    </head>
   
    {% for lc in lignecommande %}
    <tr>
    <td>{{lc.id}} </td>
    <td>{{lc.quantite}}</td>
    <td>{{lc.lignecmd.id}} </td>
    <td>{{lc.lignecmd.idUser}} </td>
    <td>{{lc.Produit.prix}}</td>

   <td><a href="{{ path('ModifLC',{'id':lc.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('AjoutLC') }}">Ajouter</a></td>
                    <td><a href="{{ path("SuppLC",{"id":lc.id}) }}">supprimer</a></td>
                 
                  </tr>
                     {% endfor %}
                </tbody> 
              </table>  
                

            </div>  
            </div>    
            </div>                    
        
{% endblock content %}
